.summary {font-family: Helvetica;}

h4 {font-family: Helvetica; font-weight: bold; font-size: larger;}

li {font-family: Helvetica;}

td {font-family: Helvetica;}

.heading {background-color: grey;}

body{background-color: antiquewhite;}


